<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>lab 1</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Lab 1</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
<!--        <div class="collapse navbar-collapse" id="navbarCollapse">-->
<!--            <ul class="navbar-nav me-auto mb-2 mb-md-0">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" aria-current="page" href="/orders">Orders</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" href="/menu">Menu</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>
</nav>

<main class="container">

    {% block content %}
    {% endblock %}

</main>
</body>
</html>
