{% extends "base.html" %}
{% block content %}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Результат запроса по врачу, принятому на работу позже других</h1>

    <div class="card mb-3 position-absolute top-50 start-50 translate-middle" style="height: 300px; width: 50%;">
        <div class="row g-0">
            <div class="col-md-4 p-3">
                <img src="https://pbs.twimg.com/media/EJ2FjdcWsAQhSOG.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title m-5">{{ surname }} {{ name }} {{ second_name }}</h5>
                    <div class="p-1"><span>Идентификатор: {{ doc_id }}, </span> <span> Специальность: {{ specialty }} </span></div>
                    <div class="p-1"><span> Номер корпуса: {{ corpus_no }} </span></div>
                    <div class="p-1"><span> Дата приема на работу: {{ date_receipt }}, </span> <span> Дата увольнения: {{ date_dismissal }} </span></div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}