{% extends "base.html" %}
{% block content %}

<div class="px-4 py-5 my-5 h1 text-center">
    Врачи.
</div>
<div class="container w-100">
    <div class="row">
        <div class="col-8">
            {% for doc in doctors %}
            {% include "include/doctor_card.html" %}
            {% endfor %}
        </div>
        <div class="col-4">
            <form action="" method="post">
                <div>
                    <label for="YearInput" class="form-label">Фильтр по году приема на работу</label>
                    <input class="form-range" name="year" type="range" value="2021" min="1970" max="2022" step="1"
                           oninput="this.nextElementSibling.value = this.value" id="YearInput">
                    <output>2021</output>
                </div>

                <input type="submit" class="mt-4 btn btn-success" value="Отправить">
            </form>

        </div>
    </div>
</div>


{% endblock %}