{% extends "base.html" %}
{% block content %}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Добро пожаловать в меню запросов</h1>
    <div class="m-5">
        В рамках второго этапа разработки курсового проекта были реализованы следующие запросы к базе данных
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            Здесь можно выбрать инетресующий запрос
        </a>

        <a href="youngest_patient" class="list-group-item list-group-item-action">Самый маладший пациент</a>
        <a href="last_receipt" class="list-group-item list-group-item-action">Врач, принятый на работу позже других</a>
        <a href="report_doctor" class="list-group-item list-group-item-action">Отчет по пациентам врачей</a>
        <a href="notes_changed" class="list-group-item list-group-item-action">Измененные истории болезни</a>
    </div>

</div>

{% endblock %}